body{
    background-color:rgb(47, 85, 255);
}

#paper{
    background-color: aliceblue;
    border-radius: 15px;
    margin: 15px auto 15px auto;
    padding:25px 15px 40px 15px;
    width: 1300px;
    height: 650px;
}

#title_bar{
    position: relative;
    margin:0 10px 0 10px;
    padding:20px 5px 20px 5px;
    height: 25px;
    border-radius: 10px;
    background-color: aliceblue;
}

.icon{
    margin: 5px 4px 5px 70px;
    
}
.User{
    
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: bold;
    text-align: center;
    color: blue;
}
#select_0{
    height: 20px;
    width: 100px;
    border-radius: 100px;
    background-color: aliceblue;

    font-family: sans-serif;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: rgb(158, 158, 158);

    margin: 0 7px 0 450px;
    padding: 10px 20px 10px 20px;

    transition-duration: 0.5s;
}
.select{
    height: 20px;
    width: 100px;
    border-radius: 100px;
    background-color: aliceblue;

    font-family: sans-serif;
    font-size: 22px;
    font-style: bold;
    text-align: center;
    color: rgb(158, 158, 158);

    margin: 0 7px 0 7px;
    padding: 10px 20px 10px 20px;

    transition-duration: 0.5s;
}
.words{
    height:60px;
    width:350px;
    background-color:rgb(176, 197, 255);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.2);

    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    font-size: 50px;
    font-style: italic;

    margin:200px 0 0 150px;
    padding: 10px 10px 10px 10px;

}
.content{
    height:200px;
    width:350px;
    background-color: aliceblue;

    font-family: sans-serif;
    font-size: 20px;
    color: rgb(105, 105, 105);
    text-align: left;

    margin:20px 0 0 150px;
    padding: 10px 10px 10px 10px;
}
.round_water{
    float:right;
    height:400px;
    width:400px;
    border-radius: 50%;
    background-color: rgb(32, 134, 230);

    margin:-200px 200px 0 0;
    padding: 10px 10px 10px 10px;
}
.picture{
    float:right;
    height:300px;
    width:400px;
    background-color: rgba(167, 255, 179, 0.6);

    margin: -250px 100px 0px 0;
    padding: 10px 10px 10px 10px;
}


.User,.select{
    animation: fadeIn 5s;
}
.round_water{
    animation: zoomIn 1s;
}
.picture{
    animation: picture_fadeIn 5s;
}
.words{
    animation: box_move 2s;
}
.content{
    animation: content_fadeIn 2s;
}
.text:hover{
    position: relative;
    font-size: 25px;
}
.words:hover {
    letter-spacing: 5px;
    background: linear-gradient(45deg,rgba(0, 0, 255, 0.9),rgba(255, 255, 0, 0.9),rgba(255, 0, 0, 0.9));
    background-size: 600% 600%;
    animation: button-hover-effect 7s ease infinite;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
}

.select:hover, #select_0:hover{
    color: rgb(230, 230, 230);
    background-color: rgb(0, 110, 255);
}

@keyframes fadeIn {
    0% {opacity: 0}
    40% {opacity: 1;}
}
@keyframes picture_fadeIn {
    0% {opacity: 0;}
    30% {opacity: 0}
    40% {opacity: 1;}
}
@keyframes zoomIn {
    10% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    30% {
      opacity: 1;
    }
}

@keyframes box_move{
    0% {width:0px;color:aliceblue; font-size:0px ;background-color:aliceblue;}
    60% {width:350px; color:rgb(176, 197, 255); font-size:50px; background-color:rgb(176, 197, 255);}
    70% {width:350px;background-color:rgb(176, 197, 255);}
}
@keyframes content_fadeIn {
    0% {color: aliceblue;}
    60% {color:aliceblue;}
    70% {color:rgb(105, 105, 105);}
}
@keyframes button-hover-effect {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}