body {
    background-image: url("picture/background.png");
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size:85%;
    background-position: top center;
    overflow: hidden;
    /*1920*900*/
    /*1366*768*/
}
#page_start{
    position:absolute;
    
    background-image: url("picture/BG.png");
    /*background-color: rgba(0, 0, 0, 0.75);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#btn_start{
    background-image: url("picture/btn_start.png");
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 170px;
    height: 170px;
    top: 37%;
    left: 46%;
}
#btn_restart{
    background-image: url("picture/btn_restart.png");
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 380px;
    height: 150px;
    top: 80%;
    left: 60%;
}
#btn_intro{
    background-image: url("picture/btn_intro.png");
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 380px;
    height: 150px;
    top: 80.5%;
    left: 40%;
}
#intro_page{
    position:absolute;
    background-color: rgba(104, 185, 240,0.75);
    background-size:100%;
    padding: 0px 50px 20px 50px;
    width: 1000px;
    height: 550px;
    top: 10%;
    left: 23%;
}
#t1{
    text-align: center;
    color: lightgoldenrodyellow;;
    font-size: 30px;
}
#t2,#t3,#t4{
    color: aliceblue;
    font-size: 18px;
    margin-left: 300px;
}
#t5,#t10{
    color: lightgoldenrodyellow;
    font-size: 23px;
    margin-left: 300px;
}
#t6,#t7,#t8,#t9{
    color: aliceblue;
    font-size: 18px;
    margin-left: 300px;
}
#salt_mountain{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-image: url("picture/salt_mountain0.png");
    background-repeat: no-repeat;
    background-size:120%;
    background-position: top right;
    overflow: hidden;
    width: 650px;
    height: 370px;
    top: 60%;
    left: 7.5%;
    
}

#tool1{
    position: absolute;
    background-image: url("picture/tool1.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100px;
    height: 100px;
    top: 4%;
    left: 10%;
}
#tool2{
    position: absolute;
    background-image: url("picture/tool2.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100px;
    height: 100px;
    top: 18%;
    left: 10%;
}
#tool3{
    position: absolute;
    background-image: url("picture/tool3.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100px;
    height: 100px;
    top: 32%;
    left: 10%;
}
#TOOL1{
    position: absolute;
    background-image: url("picture/TOOL_1.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 170px;
    height: 180px;
    top: 0%;
    left: 8%;
}
#TOOL2{
    position: absolute;
    background-image: url("picture/TOOL_2_0.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 307px;
    height: 207px;
    top: 12%;
    left: 5%;
}
#TOOL3{
    position: absolute;
    background-image: url("picture/TOOL_3.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 155px;
    height: 190px;
    top: 29%;
    left: 8.5%;
}
#salt1{
    position:absolute;
    background-image: url("picture/salt0.png");
    background-position: bottom center;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 265px;
    height: 150px;
    top: 9%;
    left: 38.5%;
}

#salt2{
    position: absolute;
    background-image: url("picture/salt0.png");
    background-position: bottom center;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 270px;
    height: 150px;
    top: 9%;
    left: 61%;
}
#salt3{
    position: absolute;
    background-image: url("picture/salt0.png");
    background-position: top right;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 160px;
    height: 130px;
    top: 10%;
    left: 84%;
}
#salt4{
    position: absolute;
    background-image: url("picture/salt0.png");
    background-position: right;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 390px;
    height: 200px;
    top: 28.5%;
    left: 45%;
}
#salt5{
    position: absolute;
    background-image: url("picture/salt0.png");
    background-position: right;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 320px;
    height: 180px;
    top: 28%;
    left: 76%;
}

#area1{
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 265px;
    height: 150px;
    top: 9%;
    left: 38.5%;
}

#area2{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 270px;
    height: 150px;
    top: 9%;
    left: 61%;
}
#area3{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 160px;
    height: 130px;
    top: 10%;
    left: 84%;
}
#area4{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 390px;
    height: 200px;
    top: 28.5%;
    left: 45%;
}
#area5{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 320px;
    height: 180px;
    top: 28%;
    left: 76%;
}
#area_salt_mountain{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    width: 650px;
    height: 370px;
    top: 60%;
    left: 7.5%;
    
}