body {
    background-image: url("picture/background.png");
    background-color: aliceblue;
    background-repeat: no-repeat;
    background-size:85%;
    background-position: top center;
    overflow: hidden;
    /*1920*900*/
    /*1366*768*/
}
#page_start{
    position:absolute;
    
    background-image: url("picture/BG.png");
    /*background-color: rgba(0, 0, 0, 0.75);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#btn_start{
    background-image: url("picture/btn_start.png");
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 170px;
    height: 170px;
    top: 37%;
    left: 46%;
}
#btn_restart{
    background-image: url("picture/btn_restart.png");
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 380px;
    height: 150px;
    top: 80%;
    left: 60%;
}
#salt_mountain{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-image: url("picture/salt_mountain0.png");
    background-repeat: no-repeat;
    background-size:120%;
    background-position: top right;
    overflow: hidden;
    width: 650px;
    height: 370px;
    top: 60%;
    left: 7.5%;
    
}

#tool1{
    position: absolute;
    background-image: url("picture/tool1.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100px;
    height: 100px;
    top: 4%;
    left: 10%;
}
#tool2{
    position: absolute;
    background-image: url("picture/tool2.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100px;
    height: 100px;
    top: 18%;
    left: 10%;
}
#tool3{
    position: absolute;
    background-image: url("picture/tool3.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 100px;
    height: 100px;
    top: 32%;
    left: 10%;
}
#TOOL1{
    position: absolute;
    background-image: url("picture/TOOL_1.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 170px;
    height: 180px;
    top: 0%;
    left: 8%;
}
#TOOL2{
    position: absolute;
    background-image: url("picture/TOOL_2_0.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 307px;
    height: 207px;
    top: 12%;
    left: 5%;
}
#TOOL3{
    position: absolute;
    background-image: url("picture/TOOL_3.png");
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 155px;
    height: 190px;
    top: 29%;
    left: 8.5%;
}
#salt1{
    position:absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 270px;
    height: 150px;
    top: 9.7%;
    left: 37.5%;
}

#salt2{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 280px;
    height: 150px;
    top: 9%;
    left: 60%;
}
#salt3{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 160px;
    height: 130px;
    top: 10%;
    left: 84%;
}
#salt4{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 390px;
    height: 240px;
    top: 28.5%;
    left: 890px;
}
#salt5{
    position: absolute;
    /*background-color: rgba(0, 0, 0, 0.3);*/
    background-repeat: no-repeat;
    background-size:100%;
    width: 350px;
    height: 225px;
    top: 28.5%;
    left: 74%;
}